@import "../variables";
@import "../fonts";

// 1399 - 1200
@media screen and (max-width: 1399px) {

  main .main__container .right-bar .right-bar__top .middle-content .middle_title {
    font-size: 30px;
  }
}

// 1199 - 1024
@media screen and (max-width: 1199px) {
  header {
    .menu {
      width: 600px;
      .item {
        font-size: 14px;
      }
    }
    .menu_control {
      .lang {
        font-size: 14px;
      }
    }
  }
  main .main__container {
    .left_bar {
      justify-content: end;
      .address {
        display: none;
      }
    }

    .right-bar {
      .right-bar__top{
        flex-direction: column;
        .right-carousel {
          order: 1;
          width: $carousel_width1 + px;
          height: $carousel_height1 + px ;
          margin: 0 auto;
          img {
            height: $carousel_height1 + px;
          }
        }

        .middle-content {
          order: 2;
          max-width: 450px;
          text-align: center;

          margin: 0 auto 74px auto;


          .middle_title {
            margin-top: 77px;
            margin-bottom: 35px;
          }
          .middle_text{
            font-size: 16px;
            margin-bottom: 58px;
          }
          .middle_btn_collections {
            margin: 0 auto;
          }
        }
      }
      .last_news .cards-container {
        margin-bottom: 24px;
        .card-item {
          .card-img {
            max-width: 85px;
          }
          .card-content {
            .date {
              font-size: 13px;
            }
            .text {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  footer.footer {
    padding-left: 80px;
    text-align: left;
  }
}

// 1199 - 1024
@media screen and (max-width: 1199px) {

}



@media screen and (max-width: 1023px) {
  header {
    .header__container {
      .logo {
        svg {
          width: 112px;
          height: 35px;
        }
      }
    }
    .menu {
      .item {
        font-size: 12px;
      }
    }
  }
}

// 1023 - 768
@media screen and (max-width: 767px) {
}

// 767 - 425
@media screen and (max-width: 424px) {
}

// 424 - 375
@media screen and (max-width: 374px) {
}

// 374 - 320
@media screen and (max-width: 374px) {
}